footer{
    width: 100%;
    background-color: rgb(5,5,43);
    svg{
        margin-left: 10px;
        margin-right: 10px;
    }
    margin-top: 5%;
    @media only screen and (min-width: $mobilSize) {
        display: flex;
        .footerCollumn {
            flex: 0 0 auto;
            width: 33.3333333%;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .footerText{
            font-size: 17px;
        }
        svg{
            text-align: right;
        }
    }
    @media only screen and (max-width: $mobilSize) {
        .footerCollumn{
            display: block;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .firstCollumn{
            padding-top: 30px;
        }
        .lastCollumn{
            padding-bottom: 30px;
        }
    }
    text-align: center;


}