$bordercolor : red;


.navigation{
    position: sticky;
    top : 0;
    transition: all .3s ease-out;
    background-color: transparent ;
    overflow: hidden;
    user-select: none;
    z-index:100;
    
    #textLogoNavBar{
        font-family: BlackHole;
    }
    #logoNavBar{
        padding-left: 10%;

    }
    #navBarGithub{
        
        padding-top: 7px;
        padding-bottom: 7px ;
        padding-left: 20px;
        padding-right: 20px;
    }
    li{
        font-size: 21px;
    }
    @media only screen and (min-width: 780px) {
    #logoNavBar{
        float: left;
        cursor: pointer;

    }
    #navBarGithub{
        margin-top: -7px;
    }

    ul {
        margin-left: -0.5em;
        margin-right: -0.5em;
        padding-right: 200px;
        padding-top: 25px;
    }
    svg{
        margin-bottom: -2px;
        height: 21px;
        margin-right: 3px;
    }

    li{
        float: right;
        margin-left: 1em;
        margin-right: 1em;
        cursor: pointer;
        font-size: 21px;
        display: flex;
        justify-content: center;
    }
    #textLogoNavBar{
        padding-top: 10px;
        font-size: 55px;
    }
    li:not(.noUnderline){

          
        a {
        display: inline-block;
        padding-bottom: 0.25rem; /* defines the space between text and underline */
        position: relative;
        }
        
        a::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 5px;
        background-color: $color1 ;
        border-radius: 10px;
        transition: width 0.25s ease-out;
        }
        a:hover::before {
        width: 100%;            
        }
    }
}
    @media only screen and (max-width: 780px) {
        display: block;
        text-align: center;
        #logoNavBar{
            float: left;
            font-size: 45px;
    
        }
        .clickHandler{
            float: right;
            padding-right: 10%;
            padding-top: 10px;
        }
        .clickHandler svg{
            width: 40px;
            height: 40px;
        }
        .navBar{
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column-reverse;
        }
        li{
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .logoBar{
            height: 60px;
        }
        #navBarGithub{
            margin-bottom: 10px;
        }
    }


    
    
}
.sticky{
    background-color: rgba(5,5,43,0.9) ;
    
}