.projectsItem{

            
    flex: 1;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;


    border: 1px solid $color1;
    border-radius: 5px;
    box-shadow: 0 0 10px $color1;

    @media only screen and (min-width: $mobilSize) {
        margin-bottom: 2%;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
        
    }
    @media only screen and (max-width: $mobilSize) {
        margin-bottom: 5%;
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .imageContainer {
    position: relative; /* parent stacking context */
    width: 100%;
    display: inline-block;
    z-index: 0; /* useful if you later use negative z-index */
    overflow: hidden;
    }

    .imageContainer .base {
    position: relative;   /* must be positioned for z-index to apply */
    z-index: 2;           /* on top */
    width: 100%;
    display: block;
    }

    .imageContainer .overlay {
    position: absolute;
    top: 22%;
    left: 11%;
    width: 77%;
    height: 44%;
    border-radius: 2px;
    z-index: 1;           /* behind .base */
    pointer-events: none; /* optional */
    }

    // .youtube-overlay {
    // position: absolute;
    // top: 0; left: 0;
    // width: 100%; height: 100%;
    // background: black; /* or match background */
    // opacity: 0; /* start hidden */
    // animation: fadeOut 3s forwards;
    // animation-delay: 5s;
    // }

    // @keyframes fadeOut {
    // 0% { opacity: 0; visibility: hidden; }
    // 100% { opacity: 1; visibility: visible; }
    // }
    img{
        width: 100%;
    }
    h2{
        padding-bottom: 30px;
    }
        
    .projectsItemText{
        padding-top: 10px;
        padding-left: 5px;
        text-align: justify;
    }

    .projectsButtonlinks{
        padding-top: 20px;
    }
    .projectLinks{
        font-size: 17px;
        svg{
            width: 14px;
            height:14px;
            
        }
    }
    @media only screen and (min-width: $mobilSize) {
        .projectLinks{
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
            
            margin-left: 5px;
            margin-right: 5px;
            svg{
                margin-right: 5px;
            }
        }
    }
    @media only screen and (max-width: $mobilSize) {
        .projectLinks{
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            
            margin-left: 5px;
            margin-right: 5px;
            svg{
                margin-right: 5px;
            }
        }
    }
}
.projectsItem > *{
    text-align: center;
}