.home{


    .waving{
        animation-duration: 2s;
        transform-origin: 70% 70%;
        animation-iteration-count: infinite;
        animation-name: waving;
    }
    @keyframes waving {
        0% {
          transform: rotate(0deg);
        }
        10% {
          transform: rotate(14deg);
        }
        20% {
          transform: rotate(-8deg);
        }
        30% {
          transform: rotate(14deg);
        }
        40% {
          transform: rotate(-4deg);
        }
        50% {
          transform: rotate(10deg);
        }
        60% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }
    .homeContainer1{
        padding-top: 50px;
        text-align: center;
        
        @media only screen and (min-width: $mobilSize) {
          
        display: flex;

        
        .homeCollumn{
            width: 50%;
        }
        img{
            width: 50%;
        }
        .textWithImg >*{
            padding-left: 40%;
            padding-top: 10px;
        }
        #salutHome{
            padding-top: 10%;
            padding-left: 45%;
        }
        #typeWriter{
            padding-top: 50px;

        }
      }
      .textWithImg >*{
        text-align: left;
    }
    @media only screen and (max-width: $mobilSize) {
        
        .homeCollumn{
          max-width: 70%;
          display: block;
          padding-left: 15%;
      }
      .homeCollumn >* {
        padding-top: 20px;
        padding-bottom: 20px;

      }
        img{
          padding-top: 20px;
          width: 90%;
        }
        #typeWriter{
          font-size: 15px;
        }
        #salutHome{
          text-align: center;
        }
      }

    }
    .home2{
        padding-top: 13%;
        
        padding-bottom: 5%;
        .titleHome2{
          padding-left: 10%;
          padding-bottom: 5%;
      }
      .svgContainer{
        border: solid 5px $color1;
        border-radius: 50%;
        overflow: hidden;
      }
    .homeContainer2{
      text-align: center;
      
    }
        @media only screen and (min-width: $mobilSize) {
          padding-left: 15%;

        
        .homeContainer2{
            display: flex;

            .homeCollumn1{
                text-align: justify;
                width:45%;
                font-size: 20px;
            }
            .homeCollumn2{
                width:40%;
                padding-left: 5%;
                .svgContainer{
                    margin-left: 25%;
                    width: 50%;
                }
    
            }
        }
      }
      @media only screen and (max-width: $mobilSize) {
        .titleHome2{
          text-align: center;
          max-width: 80%;

        }
        .homeContainer2{
          display: block;


        .homeCollumn1{
          max-width: 80%;
          padding-left: 10%;
          font-size: 17px;
          text-align: justify;
      }
        .svgContainer{
          margin-top: 5%;
          margin-left: 10%;
          width: 80%;
        }
      }

      }

    }
    .home3{
        text-align: center;
        .socialIconBox{
            padding-top: 5%;
        }
        .socialIcon{
            margin-left: 15px;
            margin-right: 15px;
            position: relative ;
            display: inline-block ;
            width: 40px ;
            height: 40px ;
            text-align: center ;
            font-size: 1.2em ;
            line-height: 2em ;
            background-color: white ;
            color:$color1;
            border-radius: 50% ;
            transition: 0.5s ;
        }
        .socialIcon::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: blue;
            transition: 0.5s;
            transform: scale(0.9);
            z-index: -1;
        }
        .socialIcon:hover::before {
            transform: scale(1.1);
            box-shadow: 0 0 20px blue;
          }
          
          .socialIcons:hover {
            color: $color1;
            box-shadow: 0 0 10px blue;
            text-shadow: 0 0 5px blue;
          }
          
        
    }    

}