.projects{
    .projectsTitle{
        text-align: center;
        padding-top: 5%;
    }
    .projectsContainer{
        width: 70%;
        padding-left: 15%;
        padding-top: 5%;
        display: flex;
        
        


    }
}