.projects{
    .projectsTitle{
        text-align: center;
        @media only screen and (min-width: 780px) {
            padding-top: 5%;
        }
        @media only screen and (max-width: 780px) {
            padding-top: 15%;
            padding-bottom: 15%;
            max-width: 80%;
            padding-left: 10%;
        }
    }
    .projectsContainer{

        padding-top: 5%;
        @media only screen and (min-width: 780px) {
            display: flex;
            width: 70%;
            padding-left: 15%;
        }
        
        


    }
}